/* HERO_BANNER STARTS */
.hero-banner
{
    background-color: var(--ghostwhite) ;
    padding: 66px 0px 120px;
}
.hero
{
    display: flex;
    flex-wrap: wrap;
}
.hero-cont
{
    flex-basis: 57.3%;
}
.hero-cont-card
{
    max-width: 536px;
    padding: 10px 0px 20px;
}
.hero-contxt p
{
    margin-bottom: 2.8%;
    color: var(--midnightblue);
}
.hero-cont .hero-heading
{
    margin-bottom: 2.373%
}
.hero-heading h1
{
    color: var(--midnightblue);
}
.hero-image
{
    flex-basis: 40.17%;
    margin-left: 2.47%;
    padding: 76px 0;
}
.hero-button a.hero-button-child
{
    font-size: 13px;
    line-height: 17px;
    padding: 16px 32px;
    color: var(--midnightblue);
    font-weight: 700;
    border: 2px solid var(--midnightblue);
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: .3s all ease-in-out;
    background: transparent;
    outline: 0;
}
span.hero-button-txt
{
    display: block;
    position: relative;
    transform: translate(10px, -10px);
    transition: -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out;
    transition: transform 150ms ease-out,-webkit-transform 150ms ease-out;
}
span.button-hover
{
    position: absolute;
    display: block;
    border: 2px solid var(--midnightblue);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 1px;
    transform: translate(5px, -10px);
    background-color: var(--sunglow);
    box-shadow: 0 0 0 1px var(--sunglow);
    z-index: -1;
    transition: transform 150ms ease-out;
    margin-left: 4px;
}
a.hero-button-child:hover {
    background-color: var(--sunglow);
    transition: .3s all ease-in-out;
}
a.hero-button-child:hover span.hero-button-txt
{
    transform: translate(0px,-4px);
} 
a.hero-button-child:hover span.button-hover
{
    transform: translate(-2px,-4px);
    transition: transform 150ms ease-out;
}
.pop-up-img
{
    background-image: url(./growflowimg/handwave.jpg);
    min-height: 233.13px;
}
.hero-link
{
    position: relative;
    z-index: 1;
}
.pop-up-icon 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: var(--midnightblue);
    width: 100%;
    max-width: 60px;
    min-height: 40px;
}
.pop-up-icon i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white);
    cursor: pointer;
}
/* HERO_BANNER ENDS */
/* COUNTER STARTS */
.counter-model
{
    padding-top: 110px;
    padding-bottom: 114px;
}
.counter-multi-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 50px 0px;
}
.multi-card 
{
    flex-basis: 31.7%;
    padding-top: 20px;
    text-align: center;
}
.multi-card:not(:last-child){
    border-right: 1px solid var(--lightgrey);
    margin-right: 2.447%;
}
.multi-card-cont
{
    max-width: 190px;
    margin: 0 auto;
    color: var(--midnightblue);
    font-weight: 500;
}
.multi-card-cont p
{
    font-size: 15px;
    line-height: 27px;

}
.m-card-head h2
{
    color: var(--lavenderblue);
}
.m-card-head
{
    margin-bottom: 15px;
}
.counter-heading 
{
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
}
.counter-btn a
{
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
}
.counter-btn 
{
    text-align: center;
}
/* COUNTER ENDS */
/* <!--BUISNESS STARTS--> */
.buisness-background
{
    position: relative;
    z-index: 1;
    padding: 105px 0 95px;
}
.buisness-background::before
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75%;
    z-index: -1;
    background-color: var(--ghostwhite);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buisness-heading
{
    max-width: 485px;
    line-height: 54px;
    margin-bottom: 13px;
}
.buisness-heading h2
{
 font-size: 44px;
}
.buisness-cont
{
    max-width: 592px;
    margin-bottom: 40px;
    color: var(--midnightblue);
}
/* <!---BUISNESS ENDS--> */
/* MEDIA-QUERY */
/* HERO_BANNER STARTS */
@media (max-width:1024px)
{
    .hero-cont .hero-heading h1
    {
        font-size: 33px;
        line-height: 52px;
    }
    .hero-contxt p
    {
        font-size: 18px;
        line-height: 25px;
        padding-top:7px;
        padding-bottom: 30px;
    }
    .hero-image {

        padding: 45px 0;
}
}
@media (max-width:767px)
{
    .hero
    {
        display: block
    }
    .hero-button a.hero-button-child 
    {
        padding: 18px 52px;
    }
    .hero-cont .hero-heading h1
    {
        line-height: 46px;
    }
    .hero-cont
    {
        max-width: 681px;
    }
    .pop-up-img {
        background-image: url(./growflowimg/handwave.jpg);
        min-height: 350px;
        max-width: 100%;
    }
    .hero-image
    {
        margin-left: 0;
    }
}
@media(max-width:480px)
{
    .hero-contxt p 
    {
        font-size: 16px;
    }
    .hero-cont .hero-heading h1 
    {
        line-height: 44px;
        font-size:40px
    }
    .pop-up-img 
    {
        min-height: 233px;
    }
}
/* HERO_BANNER ENDS */
/* COUNTER STARTS */
@media (max-width:1024px)
{
    .counter-heading h4
    {
        font-size: 24px;
        line-height: 30px;
    }
    .m-card-head h2
    {
        font-size: 36px;
    }
}
@media (max-width:767px)
{
    .counter-model
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .counter-multi-card
    {
        display: block;
    }
    .multi-card:not(:last-child)
    {
        border-right: none;
        margin: 0 auto;
        border-bottom: 1px solid var(--lightgrey);
        max-width: 400px;
    }
    .multi-card 
    {
        padding-bottom: 40px;
        margin-top: 40px !important;
    }
}
@media (max-width:480px)
{
    .counter-heading h4
    {
        font-size: 20px;
    }
}
/* COUNTER ENDS */

/* <!--BUISNESS STARTS--> */
@media (max-width:1024px)
{
.buisness-background::before
{
    width: 85%;
}
.buisness-heading h2
{
 font-size: 32px;
 line-height: 44px;
}
.buisness-cont p
{
    font-size: 18px;
    line-height: 25px;
}
.buisness-heading 
{
    margin-bottom: 13px;
}
.buisness-cont
{
    margin-bottom: 48px;
}
}
@media (max-width:767px)
{
    .buisness-background::before
    {
        width: 100%;
    }
    .buisness-background {
        padding: 50px 0 80px;
    }
    .buisness-cont {
        margin-bottom: 37px;
    }
    .buisness-cont p {
        font-size: 16px;
        line-height: 28px;
    }
    .buisness-heading {
        margin-bottom: 12px;
    }
    .buisness-heading h2 {
        font-size: 30px;
        line-height: 44px;
    }
}
@media (max-width:480px)
{
    .buisness-background {
        padding: 50px 0 70px;
    }
}
/* <!---BUISNESS ENDS--> */