/* HERO_BANNER STARTS */
.hero-banner
{
    background-color: var(--ghostwhite) ;
    padding: 66px 0px 120px;
}
.hero
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hero-cont
{
    flex-basis: 57.3%;
}
.hero-cont-card
{
    max-width: 536px;
    padding: 10px 0px 20px;
}
.hero-contxt p
{
    margin-bottom: 2.8%;
    color: var(--midnightblue);
}
.hero-cont .hero-heading
{
    margin-bottom: 2.373%
}
.hero-heading h1
{
    color: var(--midnightblue);
    letter-spacing: -1.1px;
}
.hero-image
{
    flex-basis: 40.17%;
    margin-left: 2.47%;
    /* padding: 68px 0; */
}
.hero-button a.hero-button-child
{
    font-size: 13px;
    line-height: 17px;
    padding: 16px 32px;
    color: var(--midnightblue);
    font-weight: 700;
    border: 2px solid var(--midnightblue);
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: .3s all ease-in-out;
    background: transparent;
    outline: 0;
}
span.hero-button-txt
{
    display: block;
    position: relative;
    transform: translate(10px, -10px);
    transition: -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out;
    transition: transform 150ms ease-out,-webkit-transform 150ms ease-out;
}
span.button-hover
{
    position: absolute;
    display: block;
    border: 2px solid var(--midnightblue);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 1px;
    transform: translate(5px, -10px);
    background-color: var(--sunglow);
    box-shadow: 0 0 0 1px var(--sunglow);
    z-index: -1;
    transition: transform 150ms ease-out;
    margin-left: 4px;
}
a.hero-button-child:hover {
    background-color: var(--sunglow);
    transition: .3s all ease-in-out;
}
a.hero-button-child:hover span.hero-button-txt
{
    transform: translate(0px,-4px);
} 
a.hero-button-child:hover span.button-hover
{
    transform: translate(-2px,-4px);
    transition: transform 150ms ease-out;
}
.pop-up-img
{
    background-image: url(./growflowimg/handwave.jpg);
    min-height: 233.13px;
}
.hero-link
{
    position: relative;
    z-index: 1;
}
.pop-up-icon 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: var(--midnightblue);
    width: 100%;
    max-width: 60px;
    min-height: 40px;
}
.pop-up-icon i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white);
    cursor: pointer;
}
/* HERO_BANNER ENDS */
/* COUNTER STARTS */
.counter-model
{
    padding-top: 110px;
    padding-bottom: 114px;
}
.counter-multi-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 29px 0px 58px;
}
.multi-card 
{
    flex-basis: 31.7%;
    margin-top: 30px;
    text-align: center;
}
.m-card-body {
    max-width: 300px;
    padding-top: 20px;
}
span.counter {
    letter-spacing: -1.1px;
}
.multi-card:not(:last-child){
    border-right: 1px solid var(--lightgrey);
    margin-right: 2.447%;
}
.multi-card-cont
{
    max-width: 190px;
    margin: 0 auto;
    color: var(--midnightblue);
    font-weight: 500;
    padding-top: 10px;
    margin-bottom: 15px;
}
.multi-card-cont p
{
    font-size: 15px;
    line-height: 27px;

}
.m-card-head h2
{
    color: var(--lavenderblue);
}
.m-card-head
{
    margin-bottom: 10px;
}
.counter-heading 
{
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -0.56px;
}
.counter-btn a
{
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
}
.counter-btn 
{
    text-align: center;
}
/* COUNTER ENDS */
/* <!--BUISNESS STARTS--> */
.buisness-background
{
    position: relative;
    z-index: 1;
    padding: 105px 0 95px;
}
.buisness-background::before
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75.55%;
    z-index: -1;
    background-color: var(--ghostwhite);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buisness-heading
{
    max-width: 485px;
    line-height: 54px;
    margin-bottom: 10px;
    letter-spacing: -0.9px;
}
.buisness-heading h2
{
 font-size: 45px;
}
.buisness-cont
{
    max-width: 592px;
    padding: 13px 0px 22px;
    color: var(--midnightblue);
}
.buisness-cont p
{
    margin-bottom: 15px;
}
/* <!---BUISNESS ENDS--> */
/* ---TABBER STARTS-- */
.tabber-background
{
    background-image: url(./growflowimg/Home-Tabber-Line.webp);
    min-height: 270px;
    margin-bottom: 41px;
}
.tabber
{
    padding-top: 102px;
    padding-bottom: 50px;
}
.tabber-toggle
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.tabber-left {
    flex-basis: 40%;
    margin-right: 2.54%;
}
.tabber-left-heading
{
    letter-spacing: 1.14px;
    border-bottom: 3px solid var(--sunglow);
    display: inline-block;
    margin-left: 85px;
    margin-bottom: 15px;
}
.tabber-list 
{
    padding-top: 23px;
}
.tabs li.tab-link {
    margin-bottom: 20px;
    transition: .3s all;
    letter-spacing: -0.56px;
}
.tabs li.tab-link:hover
{
    color: var(--lavenderblue);
}
.tabs li.tab-link.current 
{
    padding-bottom: 38px;
    margin-bottom: 37px;
    color: var(--lavenderblue);
}
.tabs li
{
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding-left: 85px;
}
.tabs li.tab-link.current::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    z-index: -1;
    width: 15px;
    height: 49px;
    background-color: var(--lavenderblue);
}
.tabs li.tab-link.current::after
{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 85px;
    width:90%;
    height:2px;
    background: var(--lightgrey);
    opacity: .5;
}
.tabber-right
{
    flex-basis: 57.26%;
    padding-top: 18px;
}
.tabber-right .tabber-content .tabber-image
{
    margin-bottom: 40px;
}
.tabber-right .tabber-content .tabber-image img
{
    max-width: 540px;
    display: block;
    box-shadow: 0 1.8px 1.2px rgb(0 0 0 / 3%), 0 5.7px 4.3px rgb(0 0 0 / 5%), 0 10.5px 8px rgb(0 0 0 / 6%), 0 18.3px 13.9px rgb(0 0 0 / 7%);
}

.tabber-content
{
    display: none;
}
.tabber-context
{
    color: var(--midnightblue);
    padding: 25px 0 16px;
}
.tabber-context p
{
    margin-bottom: 15px;
}
.tabber-content.current
{
    display: block;
    margin: auto 45px;
}

.tabber-btn a
{
    color: var(--midnightblue);
    transition: .3s all;
}
.tabber-btn a span i 
{
    font-size: 15px;
    margin-left: 5px;
    color: var(--sunglow);
}
.tabber-btn a:hover
{
    color: var(--sunglow);
}
.tabber .mobile-view
{
    display: none;
    border: 2px solid #695ff7;
    padding: 5px 20px 5px;
    margin-bottom: 0px;
    color: var(--lavenderblue);
    font-size: 16px;
    line-height: 34px;
    position: relative;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}
.tabber .mobile-view h6
{
    line-height: 34px;
}
.tabber-heading 
{
    letter-spacing: -0.56px;
}
.tabber-heading h4 {
    margin-bottom: 10px;
}
/* --TABBER ENDS-- */
/* --HAPPY-REVIEW STARTS-- */
.happy-review
{
    padding: 75px 0px 62px;
}
.happy-review-card
{
    background: linear-gradient(8deg,var(--midnightblue) 0%,var(--lavenderblue) 100%);
    padding: 110px 0px;
    border-radius: 10px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}
.happy-review-card::before
{
    content: "";
    position: absolute;
    bottom: -86px;
    right: 86px;
    background-image: url(./growflowimg/Happy\ Golden.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 186px;
    width: 161px;
}
.happy-review-heading,.happy-review-desc,.happy-review-btn
{
    text-align: center;
}
.happy-review-card .happy-review-heading h2
{
    font-size: 45px; 
    margin-bottom: 10px;
    letter-spacing: -0.9px;
}
.happy-review-desc
{
    max-width: 780px;
    margin: 0 auto;
    padding: 25px 0px 22px;
}
.happy-review-desc p
{
    margin-bottom: 15px;
    font-weight: 300;
}
.happy-review-btn a
{
    color: #ffffff;
}
.h-review-bottom
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 73px;
}
.h-r-left
{
    flex-basis: 32.67%;
    margin-right: 3.88%;
}
.h-review-bottom .h-r-left h2
{
    font-size: 65px;
    color: #ffcc3e;
    letter-spacing: -1.3px;
} 
.h-review-bottom .h-r-left p
{
    font-weight: 300;
    padding-top: 18px;
}
.h-r-right
{
    flex-basis: 20%;
}
.h-review-bottom .h-r-right ul
{
    border-left: 1px solid rgba(255, 255, 255, 0.474);
}
.h-review-bottom .h-r-right ul li
{
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.7px;
    padding: 8px 0px 8px 30px;
    
}
.h-review-bottom .h-r-right ul li a
{
    font-size: 15px;
    color: #ffffff;
    font-weight: 300;
    line-height: 27px;
    margin-left: 30px ;
    letter-spacing: 0;
    position: relative;
    top: -7px;
}
.h-review-bottom .h-r-right ul li:not(:last-child)
{
    border-bottom:1px solid rgba(255, 255, 255, 0.474);
}
/* --HAPPY-REVIEW ENDS-- */
/* TESTIMONIAL SLDER STARTS */
.testimonial
{
    padding: 97px 0 50px;
}
.testimonial-card .testimonial-body .testimonial-img img
{
   width: 100%;
   max-width: 60px;
    transform: scaleX(-1);
}
.testimonial-body .testimonial-cont
{
    margin-left: 37px;
    color: var(--midnightblue);
    padding-bottom: 23px;
}
.testimonial-body .testimonial-cont p
{
    margin-bottom: 15px;
}
.testimonial-body
{
    max-width: 1004px;
}
.test-body-flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.test-desc
{
    padding-bottom: 24px;
}
.testimonial-cont
{
    flex-basis: 66.14%;
}
.testimonial-user 
{
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1.13px;
}
/* TESTIMONIAL SLDER ENDS */

/* TOOLS STARTS */
.tools
{
    padding: 50px 0px 60px;
}
.tools-img
{
    background-image: url(./growflowimg/Integrations-Hero.webp);
    background-size: contain !important;
    min-height: 429px;
    flex-basis: 42.31%;
    margin-left: 99px;
}
.tools-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.tools-body
{
    flex-basis: 48.644%;
}

.tools-heading
{
    max-width: 467px;
}
.tools-body .tools-heading h3
{
    margin-bottom: 15px;
}
.tools-body .tools-cont
{
    max-width: 468px;
    padding: 24px 0px 26px;
    color: var(--midnightblue);
}
.tools-body .tools-cont p
{
    margin-bottom: 15px;
}
/* TOOLS END */


.partner-growth
{
    margin-top: 100px;
    margin-bottom: -125px;
}
.partner-class
{
    background: linear-gradient(8deg,var(--midnightblue) 0%,var(--lavenderblue) 100%);
    padding: 137px 0px 104px;
    border-radius: 10px;
    position: relative;
}
.partner-img
{
    position: absolute;
    left: -80px;
    top: -70px;
}
.partner-body
{
    color: #ffffff;
}
.partner-heading
{
    text-align: center;
    letter-spacing: -.9px;
    
}
.partner-heading h2
{
    font-size: 45px !important;
}
.partner-desc
{
    text-align: center;
    max-width: 806px;
    padding: 27px 0px 47px;
    margin: 0 auto;
}
.partner-btn
{
    text-align: center;
}
/* PARTNER ENDS */
/* FOOTER STARTS*/
.footer
{
    background-color: var(--midnightblue);
    padding: 245px 0px 165px;
}
.footer-flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.footer-img img
{
    width: 100%;
    max-width: 349px;
}
.footer-left
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 65.8%;
}
.footer-main
{
    flex-basis: 22.99%;
}
.footer-main:not(:first-child)
{
    margin-left: 19px;
}
.footer-list
{
    padding-top: 19px;
}
.footer-list ul li a
{
    color: #ffffff;
    font-size: 16px;
    line-height: 33px;
    font-weight: 300;
    letter-spacing:normal;
    transition: .3s all;
}
.footer-list ul li a:hover,.footer-icon a:hover
{
    color: var(--sunglow);
}
.footer-heading
{
    color: #ffffff;
    letter-spacing: 1.6px;
}
.footer-heading h6
{
    margin-bottom: 15px;
    line-height: 33px;
}
.footer-right
{
    flex-basis: 31.9%;
    margin-left: 20px;
}
.footer-icon
{
    margin-top: 80px;
    text-align: right;
}
.footer-icon a
{
    color: #ffffff;
    font-size: 22px;
    transition: .3s all;
}
.footer-icon a:not(:last-child)
{
    margin-right: 15px;
}
.footer-address
{
    color: #ffffff;
    text-align: right;
    padding-top: 20px;
}
.footer-address p
{
    font-size: 14px;
}
.footer-address p:last-child
{
    margin-bottom: 15px;
}
.footer-address ul.address-link
{
    
    padding-top:55px ;
}
ul.address-link li a
{
    color: #ffffff;
    font-weight: 300;
    transition: .3s all;
}
ul.address-link li a:hover
{
    color: var(--sunglow);
}
.footer-address ul.address-link li
{
    display: inline;
    font-size: 14px;
    font-weight: 300;
}
.footer-address ul.address-link li:first-child
{
    border-right: 1px solid var(--lightgrey);
}
/* FOOTER ENDS */
/* MEDIA-QUERY */
/* HERO_BANNER STARTS */
@media (max-width:1024px)
{
    .hero-cont .hero-heading h1
    {
        font-size: 33px;
        line-height: 52px;
    }
    .hero-contxt p
    {
        font-size: 18px;
        line-height: 25px;
        padding-top:7px;
        padding-bottom: 30px;
    }
    .hero-image {

        padding: 45px 0;
}
}
@media (max-width:767px)
{
    .hero
    {
        display: block
    }
    .hero-banner 
    {
        padding: 50px 0px 50px;
    }
    .hero-button a.hero-button-child 
    {
        padding: 18px 52px;
    }
    .hero-cont .hero-heading h1
    {
        font-size: 47px;
        line-height: 52px;
    }
    .hero-cont
    {
        max-width: 681px;
    }
    .pop-up-img {
        background-image: url(./growflowimg/handwave.jpg);
        min-height: 340px;
        max-width: 100%;
    }
    .hero-image
    {
        margin-left: 0;
        padding: 45px 0;
    }
}
@media(max-width:480px)
{
    .hero-contxt p 
    {
        font-size: 16px;
    }
    .hero-cont .hero-heading h1 
    {
        line-height: 44px;
        font-size:40px
    }
    .pop-up-img 
    {
        min-height: 233px;
    }
    .hero-banner {
        padding: 66px 0px 80px;
    }
}
/* HERO_BANNER ENDS */
/* COUNTER STARTS */
@media (max-width:1024px)
{
    .counter-heading h4
    {
        font-size: 24px;
        line-height: 30px;
    }
    .m-card-head h2
    {
        font-size: 36px;
    }
}
@media (max-width:767px)
{
    .counter-model
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .counter-multi-card
    {
        display: block;
        padding: 29px 0px 40px;
    }
    .multi-card:not(:last-child)
    {
        border-right: none;
        margin: 0 auto;
        border-bottom: 1px solid var(--lightgrey);
        max-width: 100%;
    }
    .multi-card 
    {
        padding-bottom: 60px;
        margin-top: 40px !important;
    }
    .m-card-body {
        max-width: 100%;
    }
}
@media (max-width:480px)
{
    .counter-heading h4
    {
        font-size: 20px;
    }
    .counter-multi-card {
        padding: 30px 0px;
    } 
    .counter-model {
        margin-top: 0;
        margin-bottom: 0;
    }
    .counter-model {
        padding-top: 80px;
        padding-bottom: 85px;
    }
    .multi-card {
        margin-top: 30px !important;
    }
    .m-card-body {
        max-width: 100%;
    }
}
/* COUNTER ENDS */

/* <!--BUISNESS STARTS--> */
@media (max-width:1024px)
{
.buisness-background::before
{
    width: 85%;
}
.buisness-heading h2
{
 font-size: 32px;
 line-height: 44px;
}
.buisness-cont p
{
    font-size: 18px;
    line-height: 25px;
}
.buisness-heading 
{
    margin-bottom: 13px;
}
.buisness-cont
{
    margin-bottom: 48px;
}
}
@media (max-width:767px)
{
    .buisness-background::before
    {
        width: 100%;
    }
    .buisness-background {
        padding: 50px 0 50px;
    }
    .buisness-cont {
        margin-bottom: 35px;
    }
    .buisness-cont p {
        font-size: 18px;
        line-height: 28px;
    }
    .buisness-heading {
        margin-bottom: 12px;
    }
    .buisness-heading h2 {
        font-size: 38px;
        line-height: 44px;
    }
}
@media (max-width:480px)
{
    .buisness-background {
        padding: 50px 0 70px;
    }
}
/* <!---BUISNESS ENDS--> */
/* <!---TABBER STARTS--> */
@media (min-width:1024px)
{
    .tabber .tabs{
        display: block !important;
    }
}
@media (min-width:768px) and (max-width:1024px)
{
    .tabber-background {
        min-height: 178px;
        margin-bottom: 55px;
    }
    .tabber-left-heading {
        margin-left: 34px;
        margin-bottom: 5px;
    }
    .tabber-list {
        padding-top: 25px;
    }
    .tabber-left {
        flex-basis: 28%;
        margin-right: 2.75%;
    }
    .tabs li.tab-link.current {
        padding-bottom: 18px;
        margin-bottom: 18px;
    }
    .tabs li.tab-link {
        margin-bottom: 15px;
    }
    .tabs li {
        padding-left: 44px;
        font-size: 18px;
        font-weight: 600;
    }
    .tabber-right {
        flex-basis: 36%;
        padding-top: 18px;
    }
    .tabber-right .tabber-content .tabber-image img {
        max-width: 416px;
    }
    .tabber-content.current {
        display: block;
        margin: auto 35px;
    }
    .tabber .tabs{
        display: block !important;
    }
    .tabs li.tab-link.current::after {
        left: 45px;
    }
}
@media (max-width:767px)
{
    .tabber-background {
        min-height:175px;
        }
    .tabber-list 
    {
        position: relative;
    }
    .tabber-toggle
    {
        display: block;
    }
    .tabber .tabs{
        display: none;
    }
    .tabber .mobile-view
    {
      display: block ;
    }
    .tabs
    {
        border: 2px solid var(--lavenderblue);
        position: absolute;
        left: 0px;
        right: 0px;
        background-color: #fffffffb;
        z-index: 1;
        padding: 10px;
    }
    .tabs li.tab-link.current::before
    {
        content: none;
    }
    .tabs li.tab-link.current::after
    {
        content: none;
    }
    .tabs li.tab-link.current
    {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .tabs li.tab-link   
    {
        font-size: 16px;
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;
    }
    .tabber-right .tabber-content .tabber-image img {
        max-width: 100%;
    }
    .tabber-left
    {
        margin-right: 0;
    }
}
@media (max-width:480px)
{
    .tabber-content.current
    {
        margin: 0;
    }
    .tabber-background {
        min-height: 82.79px;
        margin-bottom: 35px;
    }
    .tabber {
        padding-top: 55px;
        padding-bottom: 50px;
    }
}
/* <!--TABBER ENDS--> */
/* --HAPPY-REVIEW STARTS-- */
@media (max-width:1024px)
{
.happy-review-card .happy-review-heading h2
{
    font-size: 32px;
    line-height: 44px;
}

.happy-review-desc p
{
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}
.h-r-left {
    flex-basis: 49.2%;
    margin-right: 5.877%;
}
.h-r-right {
    flex-basis: 30%;
}
}
@media (max-width:767px)
{
    .happy-review-card
    {
        padding: 50px 0;
    }
    .happy-review-card .happy-review-heading h2
    {
        padding: 0 20px;
        font-size: 36px;
    }
    .happy-review-desc p
    {
        padding: 0px 20px;
    }
    .happy-review-card::before 
    {
        bottom: -55px;
        right: 18px;
        min-height: 125px;
        width: 125px;
    }
    .h-review-bottom 
    {
        display: block;
    }
    .h-r-left 
    {
        text-align: center;
        padding-bottom: 30px;
        margin-right: 0;
    }
    .h-review-bottom .h-r-left h2 
    {
        font-size: 50px;
    }
    .h-r-right 
    {
        text-align: center;
    }
    .h-review-bottom .h-r-right ul {
        border-left:none;
    }
    .h-review-bottom .h-r-right ul li {
        padding: 8px 0px;
    }
}
    @media (max-width:480px)
    {
        .happy-review-card .happy-review-heading h2
        {
            padding: 0px 20px;
            font-size: 30px;
            line-height: 40px;
        }
        .happy-review-desc p
        {
            font-size: 14px;
            line-height: 25px;
        }
        .happy-review-btn a
        {
            font-size: 12px;
            line-height: .17px;
        }
        .happy-review-btn a.yellowbtn
        {
            padding: 20px 20px;
        }
        .happy-review-card::before {
            bottom: -62px;
            right: 18px;
        } 
        .h-review-bottom {
            margin-top: 55px;
        }
        .h-review-bottom .h-r-left h2 {
            font-size: 42px;
        }
        .h-review-bottom .h-r-left p {
            padding-top: 10px;
            font-size:15px
        }
        .h-r-left
        {
            padding-bottom:25px;
        }
        .h-review-bottom .h-r-right ul li {
            font-size: 32px;
            line-height: 42px;
        }
    }

/* --HAPPY-REVIEW ENDS-- */
/* TESTIMONAIL STARTS */
@media(max-width:767px)
{
    .testimonial {
        padding: 50px 0 50px;
    }
    
    .testimonial-card .testimonial-body .testimonial-img img {
        max-width: 55px;
    }
    .testimonial-cont {
        flex-basis: 82.4%;
    }
    .testimonial-body .testimonial-cont {
        margin-left: 20px;
        padding-bottom: 23px;
    }
}
@media (max-width:480px)
{
    .testimonial-card .testimonial-body .testimonial-img img {
    width: 100%;
    max-width: 28px;
    transform: scaleX(-1);
}
.testimonial-body .testimonial-cont {
    margin-left: 24px;
    color: var(--midnightblue);
    padding-bottom: 23px;
}
.testimonial-cont {
    flex-basis: 70.14%;
}
}
/* TESTIMONIAL ENDS */
/* TOOLS STARTS */
@media (max-width:1024px)
{
    .tools-body {
        flex-basis: 48%;
        margin: 0;
    }
    .tools-img {
        flex-basis: 40.9%;
        margin-left: 0;
        margin: 0 auto;
    }
    .tools-img {
        background-size: contain !important;
        min-height: 300px;
    }
}
@media (max-width:767px)
{
    .tools-card
    {
        display: block;
    }
    .tools-body
    {
        margin-bottom: 50px;
    }
    .tools-img
    {
        min-height: 420px;
        background-position: center;
    }
}
@media (max-width:480px)
{
    .tools {
        padding: 45px 0px 50px;
    }
    .tools-body .tools-heading h3
    {
        font-size: 28px;
        line-height: 30px;
    }
    .tools-img
    {
        min-height: 300px;
    }
    .tools-body
    {
        margin-bottom: 30px;
    }
}
/* TOOLS ENDS */
/* PARTNERS STARTS */
@media (max-width:480px)
{
    .partner-growth {
        margin-top: 50px;
        margin-bottom: -155px;
    }
    .partner-class {
        padding: 85px 0px 85px;
    }
    .partner-heading h2 {
        font-size: 35px !important;
    }
    .partner-desc {
        max-width: 100%;
        padding: 27px 0px 27px;
        margin: auto 11px;
    }
    .partner-desc p {
        font-size: 14px;
    }
    .partner-btn a.whitebtn {
        padding: 20px 14px;
    }
}
/* PARTNERS ENDS */
/* FOOTER STARTS */
@media (max-width:1024px)
{
    .footer-main {
        flex-basis: 20.8%;
    }
    .footer-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 68%;
    }
    .footer-right {
        flex-basis: 28.9%;
        margin-left: 20px;
    }
    .footer-main:not(:first-child)
        {
            margin-left: 18px;
        }
}
    @media (max-width:767px)
    {
        .footer-flex {
            display: block;
        }
        .footer-address ul.address-link {
            padding-top: 20px;
        }
        .footer-icon {
            margin-top: 40px;
            text-align: center;
        }
        .footer-img img {
            width: 100%;
            max-width: 100%;
        }
        .footer-address
        {
            text-align: center;
        }
        
    }
    @media(max-width:480px)
    {
        .footer-left
        {
            display: block;
        }
        .footer-main:not(:first-child)
        {
            margin-left: 0;

        }
        .footer-main
        {
            margin-bottom: 19px;
        }
        .footer-heading h6
        {
            margin-bottom: 0%;
        }
    }