*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
}
html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
body{
    line-height:normal;
    font-size:16px;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
:root{
    --midnightblue:#030047;
    --ghostwhite:#F7F8FC;
    --white:#ffffff;
    --sunglow:#ffcc3e;
}
.content-wrapper
{
    max-width: 1144px;
    padding: 0 20px;
    margin: 0 auto;
}
.bg-section{
    background-repeat: no-repeat;
    background-size: cover;
}
/* -----BODY SECTION------ */
h1
{
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
}
p
{
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}
/* -----BODY SECTION------ */
